.about-container {
  padding-bottom: 200px;
}

.about-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: -6rem;
}

.about-image {
  height: 420px;
}

.about-info {
  font-size: 2rem;
  color: var(--light);
}

.info-name {
  font-size: 2.5rem;
  color: var(--bright);
  font-weight: 800;
}

@media only screen and (max-width: 720px) {
  .about-container {
    padding-bottom: 270px;
  }
  .about-top-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-image-container {
    margin-top: 4rem;
    margin-bottom: -6rem;
  }
  .about-image {
    height: 280px;
  }
  .about-info {
    font-size: 1.25rem;
  }
  .info-name {
    font-size: 1.625;
  }
}
