.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
}

.contact-left {
  max-width: 60%;
  font-size: 1.25rem;
  text-align: center;
}

.contact-right {
  display: flex;
  background-color: var(--muted);
  padding: 8px 16px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.contact-right:hover {
  transform: scale(1.05);
}

.contact-right a {
  text-decoration: none;
  color: #000;
}

.download-icon {
  margin-right: 8px;
}

@media only screen and (max-width: 720px) {
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-left {
    max-width: 100%;
    font-size: 1rem;
    margin-bottom: 12px;
  }
  .contact-right {
    font-size: 1rem;
  }
}
