.header-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  align-items: center;
  position: relative;
}

.header-menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header-menu-icon {
  font-size: 1.5rem;
}

.menu-icon i:hover {
  transform: scale(1.05);
}

.header-mobile-menu {
  display: none;
}

.header-web-menu {
  display: flex;
}

.header-logo {
  display: flex;
  font-size: 1.75rem;
  font-weight: 800;
  color: brown;
}

@media only screen and (max-width: 720px) {
  .header-mobile-menu {
    display: flex;
  }
  .header-web-menu {
    display: none;
  }
  .header-logo {
    font-size: 1.5rem;
  }
}
