@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  background-color: var(--primary);
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #1f1926;
  --bright: #5927e5;
  --muted: #9b89b3;
  --light: #fcf8ff;
}

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

p {
  color: var(--light);
}

.separator {
  background-color: var(--muted);
  height: 6px;
  width: 40%;
  border-radius: 3px;
  margin: 16px 0px;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--bright);
}

@media only screen and (max-width: 1024px) {
  .app {
    width: 90%;
  }
}

@media only screen and (max-width: 512px) {
  .app {
    width: 100%;
  }
}
