body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .app {
    width: 90%;
  }
}

@media only screen and (max-width: 512px) {
  .app {
    width: 100%;
  }
}
