.webmenu-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.webmenu-option {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 16px;
}

.webmenu-option a {
  text-decoration: none;
  display: flex;
  color: #000;
  align-items: center;
}

.option-icon {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.webmenu-option:last-child {
  margin-right: 0px;
}
